In [111]:
import pandas as pd

In [112]:
df = pd.read_csv('data/nyc_bike_accidents.csv')
pd.options.display.max_columns = 50

In [113]:
df['CRASH DATE'] = pd.to_datetime(df['CRASH DATE'])


df['YEAR'] = df['CRASH DATE'].dt.strftime('%Y')
df

,Unnamed: 0,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,YEAR
0,27,2021-12-14,12:54,BROOKLYN,11217.0,40.687534,-73.977500,"(40.687534, -73.9775)",FULTON STREET,SAINT FELIX STREET,NaN,1.0,0.0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,4487052,Sedan,Bike,NaN,NaN,NaN,2021
1,31,2021-12-14,16:25,NaN,NaN,40.784615,-73.953964,"(40.784615, -73.953964)",EAST 93 STREET,NaN,NaN,1.0,0.0,1,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4486581,Van,Bike,NaN,NaN,NaN,2021
2,51,2022-04-24,15:35,MANHATTAN,10019.0,40.767242,-73.986206,"(40.767242, -73.986206)",WEST 56 STREET,9 AVENUE,NaN,1.0,0.0,1,0,View Obstructed/Limited,Unspecified,NaN,NaN,NaN,4521853,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN,2022
3,66,2021-12-09,20:20,BROOKLYN,11223.0,40.592070,-73.962990,"(40.59207, -73.96299)",EAST 7 STREET,CRAWFORD AVENUE,NaN,1.0,0.0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4485150,Bike,NaN,NaN,NaN,NaN,2021
4,72,2021-12-09,23:15,BROOKLYN,11218.0,40.640835,-73.989670,"(40.640835, -73.98967)",12 AVENUE,41 STREET,NaN,1.0,0.0,1,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4485355,Sedan,Bike,NaN,NaN,NaN,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49505,1964049,2023-01-24,17:35,BROOKLYN,11219.0,40.636566,-73.997696,"(40.636566, -73.997696)",51 STREET,11 AVENUE,NaN,1.0,0.0,1,0,Unspecified,NaN,NaN,NaN,NaN,4600342,Bike,NaN,NaN,NaN,NaN,2023
49506,1964058,2023-01-24,15:57,BROOKLYN,11215.0,40.667250,-73.994550,"(40.66725, -73.99455)",3 AVENUE,16 STREET,NaN,1.0,0.0,1,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,4600353,Sedan,Bike,NaN,NaN,NaN,2023
49507,1964064,2023-01-24,14:10,BRONX,10454.0,40.810726,-73.924650,"(40.810726, -73.92465)",EAST 139 STREET,ALEXANDER AVENUE,NaN,1.0,0.0,1,0,Unsafe Speed,Traffic Control Disregarded,NaN,NaN,NaN,4600464,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN,2023
49508,1964105,2023-01-24,15:00,BROOKLYN,11220.0,40.640263,-74.019035,"(40.640263, -74.019035)",4 AVENUE,61 STREET,NaN,1.0,0.0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,4600585,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN,2023
49509,1964112,2023-01-24,17:20,BROOKLYN,11201.0,40.690240,-73.994370,"(40.69024, -73.99437)",CLINTON STREET,ATLANTIC AVENUE,NaN,1.0,0.0,1,0,Driver Inattention/Distraction,Passing or Lane Usage Improper,NaN,NaN,NaN,4600297,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN,2023

In [116]:
bike_df = df[df['VEHICLE TYPE CODE 1'] != 'Bike']
bike_df = bike_df.groupby('CONTRIBUTING FACTOR VEHICLE 1').sum().sort_values('NUMBER OF PERSONS INJURED', ascending=False).reset_index()
bike_df = bike_df[['CONTRIBUTING FACTOR VEHICLE 1', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED']]

# Drop the first row, because that is the cases where the reason was unspecified.
bike_df.drop(index=0, inplace=True)

# Get top 10 reasons
bike_df = bike_df.head(10)
bike_df.to_csv('data/nyc_accidents_reason.csv')

/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_34374/532745379.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bike_df = bike_df.groupby('CONTRIBUTING FACTOR VEHICLE 1').sum().sort_values('NUMBER OF PERSONS INJURED', ascending=False).reset_index()

In [118]:
bike_df_2022 = df[df['YEAR'] == '2022']

bike_df_2022 = bike_df_2022[bike_df_2022['VEHICLE TYPE CODE 1'] != 'Bike']
bike_df_2022 = bike_df_2022.groupby('CONTRIBUTING FACTOR VEHICLE 1').sum().sort_values('NUMBER OF PERSONS INJURED', ascending=False).reset_index()
bike_df_2022 = bike_df_2022[['CONTRIBUTING FACTOR VEHICLE 1', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED']]
bike_df_2022

bike_df_2022.to_csv('data/nyc_accidents_reason_2022.csv')

/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_34374/3142008372.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bike_df_2022 = bike_df_2022.groupby('CONTRIBUTING FACTOR VEHICLE 1').sum().sort_values('NUMBER OF PERSONS INJURED', ascending=False).reset_index()

In [ ]:
bike_df.groupby('VEHICLE TYPE CODE 1').sum().sort_values('NUMBER OF PERSONS INJURED', ascending=False)

/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_34374/778081497.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bike_df.groupby('VEHICLE TYPE CODE 1').sum().sort_values('NUMBER OF PERSONS INJURED', ascending=False)

,Unnamed: 0,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,COLLISION_ID
VEHICLE TYPE CODE 1,,,,,,,,,
Sedan,5587161754,84215177.0,415807.529631,-754979.367828,10976.0,28.0,10786,28,44425138496
Station Wagon/Sport Utility Vehicle,4656592584,70562771.0,335650.452155,-609431.300491,8890.0,20.0,8801,17,36121396590
PASSENGER VEHICLE,11207187615,70893972.0,265682.318156,-482408.011073,7280.0,19.0,7198,19,9340008351
SPORT UTILITY / STATION WAGON,4739777587,30672163.0,114688.193194,-208275.659909,3135.0,11.0,3100,11,4563598960
Taxi,1110171196,14008301.0,72744.568312,-132018.204135,1912.0,6.0,1888,6,7595207140
...,...,...,...,...,...,...,...,...,...
HORSE,1131374,10000.0,40.779940,-73.971030,1.0,0.0,1,0,3437499
Skateboard,1940723,0.0,0.000000,0.000000,1.0,0.0,1,0,4576507
Snow Plow,202355,0.0,40.718987,-73.892136,1.0,0.0,1,0,4358774
Stake or Rack,1936775,0.0,40.686417,-73.908700,1.0,0.0,1,0,4572825
OMT,1058233,10002.0,40.718143,-73.993835,1.0,0.0,1,0,3532727

In [ ]:
df.groupby('YEAR').sum('NUMBER OF PERSONS KILLED')

,Unnamed: 0,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,COLLISION_ID
YEAR,,,,,,,,,
2012,4141793277,21810871.0,82042.521399,-148985.590667,2249.0,6.0,2210,6,346956363
2013,6971545221,40091890.0,151193.640470,-274536.520564,4120.0,11.0,4075,11,601651970
2014,6029479174,39608844.0,149907.740100,-272167.003660,4053.0,20.0,4000,20,4200328169
2015,5516546701,41577236.0,157682.844458,-286286.717771,4338.0,15.0,4281,15,13940478127
2016,5309160168,39324217.0,173723.351518,-315427.251408,5082.0,19.0,4975,18,17357233919
2017,4109693436,36155840.0,185856.188187,-337464.337220,4978.0,34.0,4889,27,18082238102
2018,2876710369,36349014.0,180279.764749,-327330.195093,4845.0,10.0,4725,10,18516588605
2019,1939985431,38538902.0,191075.813372,-346917.387261,5073.0,31.0,4986,31,20702042036
2020,1236231315,43037073.0,210935.405135,-382899.818754,5687.0,30.0,5576,29,23768782814
2021,349164727,38245316.0,187054.206503,-339605.067650,5113.0,21.0,4961,19,21758084424
2022,3572584958,39227424.0,185461.044906,-336728.725277,5154.0,20.0,5020,17,22510650883
2023,352552459,1382929.0,6923.092582,-12570.570083,180.0,2.0,179,2,827613073

In [ ]:
# Get only the data from 2022
df_2022 = df[df['YEAR'] == '2022']

# Get only the columns we need
df_2022 = df_2022[['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF CYCLIST INJURED']]

# And create new columns that will be used for visualization
df_2022['ACCIDENT TYPE'] = 0

df_2022.loc[df_2022['NUMBER OF CYCLIST INJURED'] > 0, 'ACCIDENT TYPE'] = 'Injured'
df_2022.loc[df_2022['NUMBER OF CYCLIST KILLED'] > 0, 'ACCIDENT TYPE'] = 'Fatal'

df_2022['INJURED OR DEATH'] = df_2022['NUMBER OF CYCLIST KILLED'] + df_2022['NUMBER OF CYCLIST INJURED']

df_2022.dropna(subset=['LATITUDE', 'LONGITUDE'], inplace=True)

In [ ]:
df_2022.to_csv('data/nyc_bike_crashes_2022.csv')

In [ ]:
accidents = pd.read_csv('data/nyc_bike_accidents.csv')

bikers = pd.read_csv('data/nyc_bikerides_numbers.csv')

In [ ]:
accidents['CRASH DATE'] = pd.to_datetime(accidents['CRASH DATE'])

accidents['YEAR'] = accidents['CRASH DATE'].dt.strftime('%Y')

accidents_year = accidents.groupby('YEAR').sum('NUMBER OF PERSONS KILLED')
accidents_year = accidents_year[['NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED']]
accidents_year

      NUMBER OF CYCLIST INJURED  NUMBER OF CYCLIST KILLED
YEAR
2012                       2210                         6
2013                       4075                        11
2014                       4000                        20
2015                       4281                        15
2016                       4975                        18
2017                       4889                        27
2018                       4725                        10
2019                       4986                        31
2020                       5576                        29
2021                       4961                        19
2022                       5020                        17
2023                        179                         2

In [ ]:
accidents_year = accidents_year.reset_index()

accidents_year.rename(columns={"YEAR": "year", "NUMBER OF CYCLIST INJURED": "injured", "NUMBER OF CYCLIST KILLED": "killed"}, inplace=True)

accidents_year

    year  injured  killed
0   2012     2210       6
1   2013     4075      11
2   2014     4000      20
3   2015     4281      15
4   2016     4975      18
5   2017     4889      27
6   2018     4725      10
7   2019     4986      31
8   2020     5576      29
9   2021     4961      19
10  2022     5020      17
11  2023      179       2

In [ ]:
bikers['year'] = bikers['Unnamed: 0']
bikers = bikers[['year', 'Total Daily Cycling Trips']]
bikers

,year,Total Daily Cycling Trips
0,2008,240000.0
1,2009,240000.0
2,2010,250000.0
3,2011,270000.0
4,2012,320000.0
5,2013,380000.0
6,2014,420000.0
7,2015,450000.0
8,2016,460000.0
9,2017,490000.0
10,2018,510000.0
11,2019,530000.0
12,2021,550000.0
13,Source: https://www.nyc.gov/html/dot/html/bicy...,NaN

In [ ]:
bikers.drop([13], inplace=True)
bikers

    year  Total Daily Cycling Trips
0   2008                   240000.0
1   2009                   240000.0
2   2010                   250000.0
3   2011                   270000.0
4   2012                   320000.0
5   2013                   380000.0
6   2014                   420000.0
7   2015                   450000.0
8   2016                   460000.0
9   2017                   490000.0
10  2018                   510000.0
11  2019                   530000.0
12  2021                   550000.0

In [ ]:
bikers_accidents = pd.merge(accidents_year, bikers, on=['year'], how='left')

bikers_accidents['injury_rate'] = bikers_accidents['injured'] / bikers_accidents['Total Daily Cycling Trips']
bikers_accidents['fatality_rate'] = bikers_accidents['killed'] / bikers_accidents['Total Daily Cycling Trips']


bikers_accidents.rename({'Total Daily Cycling Trips': 'total_daily_bikerides'}, axis=1, inplace=True)

bikers_accidents.to_csv('data/accidents_development.csv')