In [33]:
import pandas as pd

In [34]:
df = pd.read_csv('data/nyc_motor_vehicle_crashes.csv')

/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_98374/3308365235.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/nyc_motor_vehicle_crashes.csv')

In [35]:
pd.options.display.max_columns = 50

df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,0.0,0,0,0,0,2,0,Aggressive Driving/Road Rage,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Pavement Slippery,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964125,01/24/2023,14:24,MANHATTAN,10038.0,40.709522,-74.001670,"(40.709522, -74.00167)",DOVER STREET,PEARL STREET,NaN,1.0,0.0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4600369,Taxi,NaN,NaN,NaN,NaN
1964126,01/10/2023,0:45,BRONX,10474.0,40.807170,-73.879715,"(40.80717, -73.879715)",NaN,NaN,287 HALLECK STREET,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4600800,Dump,Tractor Truck Diesel,NaN,NaN,NaN
1964127,01/18/2023,20:21,BRONX,10474.0,40.811092,-73.893350,"(40.811092, -73.89335)",LEGGETT AVENUE,TRUXTON STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4600807,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1964128,01/22/2023,15:45,NaN,NaN,40.702564,-73.991750,"(40.702564, -73.99175)",YORK STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4600822,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1964129,01/24/2023,22:30,BROOKLYN,11236.0,40.636986,-73.889230,"(40.636986, -73.88923)",EAST 100 STREET,AVENUE N,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4600465,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [36]:
bike_df = df[(df['NUMBER OF CYCLIST INJURED'] > 0) | (df['NUMBER OF CYCLIST KILLED'] > 0) ]
bike_df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
27,12/14/2021,12:54,BROOKLYN,11217.0,40.687534,-73.977500,"(40.687534, -73.9775)",FULTON STREET,SAINT FELIX STREET,NaN,1.0,0.0,0,0,1,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4487052,Sedan,Bike,NaN,NaN,NaN
31,12/14/2021,16:25,NaN,NaN,40.784615,-73.953964,"(40.784615, -73.953964)",EAST 93 STREET,NaN,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4486581,Van,Bike,NaN,NaN,NaN
51,04/24/2022,15:35,MANHATTAN,10019.0,40.767242,-73.986206,"(40.767242, -73.986206)",WEST 56 STREET,9 AVENUE,NaN,1.0,0.0,0,0,1,0,0,0,View Obstructed/Limited,Unspecified,NaN,NaN,NaN,4521853,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
66,12/09/2021,20:20,BROOKLYN,11223.0,40.592070,-73.962990,"(40.59207, -73.96299)",EAST 7 STREET,CRAWFORD AVENUE,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4485150,Bike,NaN,NaN,NaN,NaN
72,12/09/2021,23:15,BROOKLYN,11218.0,40.640835,-73.989670,"(40.640835, -73.98967)",12 AVENUE,41 STREET,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4485355,Sedan,Bike,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964049,01/24/2023,17:35,BROOKLYN,11219.0,40.636566,-73.997696,"(40.636566, -73.997696)",51 STREET,11 AVENUE,NaN,1.0,0.0,0,0,1,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4600342,Bike,NaN,NaN,NaN,NaN
1964058,01/24/2023,15:57,BROOKLYN,11215.0,40.667250,-73.994550,"(40.66725, -73.99455)",3 AVENUE,16 STREET,NaN,1.0,0.0,0,0,1,0,0,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,4600353,Sedan,Bike,NaN,NaN,NaN
1964064,01/24/2023,14:10,BRONX,10454.0,40.810726,-73.924650,"(40.810726, -73.92465)",EAST 139 STREET,ALEXANDER AVENUE,NaN,1.0,0.0,0,0,1,0,0,0,Unsafe Speed,Traffic Control Disregarded,NaN,NaN,NaN,4600464,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
1964105,01/24/2023,15:00,BROOKLYN,11220.0,40.640263,-74.019035,"(40.640263, -74.019035)",4 AVENUE,61 STREET,NaN,1.0,0.0,0,0,1,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4600585,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
1964112,01/24/2023,17:20,BROOKLYN,11201.0,40.690240,-73.994370,"(40.69024, -73.99437)",CLINTON STREET,ATLANTIC AVENUE,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Passing or Lane Usage Improper,NaN,NaN,NaN,4600297,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN

In [37]:
# Turn the crash date into a datetime object

bike_df['CRASH DATE'] = pd.to_datetime(bike_df['CRASH DATE']) 

bike_df.dtypes

/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_98374/459227638.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bike_df['CRASH DATE'] = pd.to_datetime(bike_df['CRASH DATE'])

CRASH DATE                       datetime64[ns]
CRASH TIME                               object
BOROUGH                                  object
ZIP CODE                                 object
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED               float64
NUMBER OF PERSONS KILLED                float64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
COLLISION_ID                              int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
dtype: object

In [38]:
# Remove columns that are not relevant to our analysis

bike_df = bike_df.drop(['NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED','NUMBER OF MOTORIST INJURED','NUMBER OF MOTORIST KILLED'], axis=1)

In [39]:
bike_df.to_csv('data/nyc_bike_crashes.csv')